@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2ya2g');
  src:  url('fonts/icomoon.eot?2ya2g#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?2ya2g') format('truetype'),
  url('fonts/icomoon.woff?2ya2g') format('woff'),
  url('fonts/icomoon.svg?2ya2g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e900";
}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-image: url("images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 5.5rem;
  display: flex;
  align-items: center;
  background-color: #000;

  .navigation {
    width: 100%;
    justify-content: space-between;
  }

  .logo-holder {
    align-items: center;
  }

  .logo-holder img {
    width: 6.5rem;
  }

  .form-holder {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .form-control {
      background-color: transparent;
      color: #fff;
    }

    form {
      flex-wrap: nowrap;
    }

    button {
      color: #fff;
      border-color: #fff;
    }
  }
  .submit {
    margin-right: 1rem;
  }

  .basket-icon {
    margin: 1rem;
    color: white;
    border-color: white;
    background-color: transparent;
  }

  .icon-basket {
    color: white;
    font-size: 1.5rem;
  }

}


.pizza-menu {
  .select-price {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  select {
    margin: 3rem 0;
    width: 15rem;
    background-color: transparent;
    color: #fff;
  }
}

.title {
  color: white;
  font-family: 'Lobster', cursive;

  h2 {
    font-size: 4.5rem;
    text-align: center;
    padding-top: 2.5rem;
  }

}


.price-range {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;

  h5 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    color: #fff;
  }

  .form-control {
    width: 5rem;
  }

  input {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    color: #fff;
    border-collapse: collapse;
    margin: 0 0.5rem;
  }

  input:focus {
    background-color: transparent;
    color: #fff;
  }

  button {
    color: #fff;
    border-color: #fff;
  }
}

.calory-range {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;

  h5 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    color: #fff;
  }

  .form-control {
    width: 5rem;
  }

  input {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    color: #fff;
    border-collapse: collapse;
    margin: 0 0.5rem;
  }

  input:focus {
    background-color: transparent;
    color: #fff;
  }

  button {
    color: #fff;
    border-color: #fff;
  }

}

.button-holder {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3.5rem;

  .pizzaCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(39, 39, 39, 0.5);
    border: 1px solid #272727;
    box-shadow: 0 0.1rem 0.3rem rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }

  .pizzaCard:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  .pizzaImage {
    width: 100%;

    img {
      max-width: 80%;
      margin-bottom: 1.5rem;
    }
  }

  .pizza_Name h6 {
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Lobster', cursive;
    margin-bottom: 1.5rem;
  }

  .pizza_Compos {
    display: flex;
    color: white;
    width: 100%;

    p {

      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 100;
      width: 100%;
    }

  }

  .pizza_Caloricity {
    display: flex;
    color: white;
  }

  .pizza_Price {
    display: flex;
    color: white;
  }

  .pizza_btn {
    display: flex;
    color: white;
    margin-bottom: 1rem;
  }
}

footer {
  background-color: black;
  height: 4.5rem;
  display: flex;
  align-items: center;

  p {
    color: #fff;
    padding-left: 1.5rem;
    margin-bottom: 0;
  }
}

.btn-fav {
  color: white;
  background-color: transparent;
  border: none;
}


.pizza-info {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  left: 0;
  top: 0;
  //display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.pizza-info_card {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
  color: white;
  width: 70%;
  height: 500px;
  padding: 10px;

  li {
    list-style: none;
  }
}

.exit-btn {
  a {
    text-decoration: none;
    color: #a8a8a8;
    font-size: 1.2rem;
  }

  a:hover {
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
  }
}





.info-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 40px;
      font-size: 2.5rem;
      font-family: 'Lobster', cursive;
    }

    img {
      width: 300px;
    }

  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      font-size: 2rem;
      font-family: 'Lobster', cursive;
    }
  }
}




.wrapper-constructor {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;

  .constructor {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    color: white;
    width: 80%;
    height: 700px;
    padding: 10px;

    .constructor-title {
      text-align: center;
    }

    .nameOfNewPizza {
      width: 20%;
      margin-bottom: 1rem;
    }

    .content-holder {
      display: flex;
    }

    .left-side {
      width: 50%;
      display: flex;
      //padding: 1rem;

      .image-container {
        width: 100%;
        padding: 1rem;
        position: relative;
        img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        .component {
          position: absolute;
          z-index: 3;
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      width: 50%;
      //padding: 1rem;

      .sous-holder {
        display: flex;
        flex-direction: column;
      }

      .cheese-holder {
        display: flex;
        flex-direction: column;
      }

      .meat-holder {
        display: flex;
        flex-direction: column;
      }

      .veggie-holder {
        display: flex;
        flex-direction: column;
      }
    }

    .top {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
    }

    .bottom {
      display: flex;
      justify-content: space-around;
      padding: 1rem;

    }
  }
}

.wrapper-basket {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;

  .basket {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    color: white;
    width: 80%;
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  .content {
    display: flex;
    justify-content: space-around;

    .image {
      display: flex;
      width: 20%;

      img {
        width: 100%;
      }
    }

    .info {
      display: flex;
    }

    .price {
      display: flex;
    }

    .amount {
      display: flex;
    }
  }

  .sumAmount {

  }

  .order {
    display: flex;
    justify-content: center;

    button {
      margin-bottom: 1rem;
    }
  }
}

.order-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .order-modal {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    color: white;
    width: 700px;
    height: 500px;
    padding: 10px;
  }
}

