* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-image: url("images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 5.5rem;
  display: flex;
  align-items: center;
  background-color: #000;

  .navigation {
    width: 100%;
    justify-content: space-between;
  }

  .logo-holder {
    align-items: center;
  }

  .logo-holder img {
    width: 6.5rem;
  }

  .form-holder {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    form {
      flex-wrap: nowrap;
    }

    button {
      color: #fff;
      border-color: #fff;
    }

  }
}

.pizza-menu {
  .select-price {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  select {
    margin: 3rem 0;
    width: 20rem;
  }
}

.title {
  color: white;
  font-family: 'Lobster', cursive;

  h2 {
    font-size: 4.5rem;
    text-align: center;
    padding-top: 2.5rem;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3.5rem;

  .pizzaCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(39, 39, 39, 0.5);
    border: 1px solid #272727;
    box-shadow: 0 0.1rem 0.3rem rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }

  .pizzaCard:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  .pizzaImage {
    width: 100%;

    img {
      max-width: 80%;
      margin-bottom: 1.5rem;
    }
  }

  .pizza_Name h6 {
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Lobster', cursive;
    margin-bottom: 1.5rem;
  }

  .pizza_Compos {
    display: flex;
    color: white;
    width: 100%;

    p {

      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 100;
      width: 100%;
    }

  }

  .pizza_Caloricity {
    display: flex;
    color: white;
  }

  .pizza_Price {
    display: flex;
    color: white;
  }

  .pizza_btn {
    display: flex;
    color: white;
  }
}

footer {
  background-color: black;
  height: 4.5rem;
  display: flex;
  align-items: center;

  p {
    color: #fff;
    padding-left: 1.5rem;
    margin-bottom: 0;
  }
}

